{% extends 'common/base.html' %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-3">
        {% include "users/account_settings_list.html" with active="password" %}
      </div>

      <div class="col-9">
        <h2>Change your password</h2>
        <form action="" method="post">
          {% include 'common/form_fields.html' %}
          <input class="btn btn-primary btn-lg" type="submit" value="Save" />
          <p class="text-muted">You will be logged out after resetting your password.</p>
        </form>
        <p class="text-right"><a href="{% url 'users:password_reset' %}">Forgot password?</a></p>
      </div>
    </div>
  </div>
{% endblock main %}